body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f3f5;
    padding: 5px 15px;
  }
  .tytle {
    font-family: 'Impact', sans-serif;
    font-size: 50px;
  }
  .dados_pessoais {
    background-color: #e3e5e6;
    padding: 5px ;
  }
  .HabOrgulho{
    background-color: #e3e5e6;
    font-style: italic;
    font-size: 15px;
  }
  .hab {
    background-color: #e3e5e6;
    font-style: italic;
    font-size: 15px;
  }